{{! src/views/home.handlebars }}
{{#if products.length}}
  <div class="grid">
    {{#each products}}
      <div class="card">
        <h3>{{title}}</h3>
        <p class="muted">{{description}}</p>
        <p><strong>${{price}}</strong> · Stock: {{stock}} · Cat: {{category}}</p>
        <p><small>code: {{code}} · id: {{id}}</small></p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No hay productos cargados.</p>
{{/if}}
