<!-- src/views/realtimeProducts.handlebars -->
<section>
  <h2>{{title}}</h2>
  <p class="muted">Se actualiza en tiempo real cuando se crean/edita/eliminan productos (vía API)</p>
  <div id="products" class="grid">
    {{#each products}}
      <div class="card" data-id="{{this._id}}">
        <h3>{{this.title}}</h3>
        <p class="muted">{{this.description}}</p>
        <p><strong>${{this.price}}</strong> · Stock: {{this.stock}} · Cat: {{this.category}}</p>
        <p><small>code: {{this.code}} · _id: {{this._id}}</small></p>
      </div>
    {{/each}}
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
